.img1 {
    margin-left: 237.875px;
    margin-right: 237.875px;
}
.navbar-brand {
    color: #fcda61; 
    font-size: 3rem;
    padding-top: 17px;
}
.AMAZON {
    color: rgb(238, 165, 29);
}
.SCUBAPRO {
    color: rgb(23, 23, 192);
}
.TAOBAO {
    color: rgb(219, 76, 33);
}
.Mares {
    color: white;
}
.AquaLung {
    color: rgb(19, 19, 117);
}