ur {
    text-align: center;
    font-style: italic;
    font-weight: 800;
}

#img1 {
    padding-top: 7px;
    padding-left: 5px;
}
.navbar-brand {
    color: #fcda61; 
    font-size: 1.5rem;
}
.contact {
    list-style: none;
}